# Previene los preinstall y postinstall
ignore-scripts=true

# Retrasa los nuevos paquetes en 7 días
min-release-age=1
minimum-release-age=1440

# Bloquear sudependecias exóticas (git repos, tarballs)
block-exotic-subdeps=true

# Bloquea paquetes cuyo nivel de confianza disminuyera
trust-policy=no-downgrade