---

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro + Vanilla JS + esbuild-wasm" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
		<title>pizca</title>
	</head>
	<body>
		<h1>pizca</h1>
	</body>
</html>
